.container {
    /* padding: 0 2rem; */
    margin: 2rem;
}

.main { grid-area: main; }
.menu { grid-area: menu; }

.showMore{ 
    grid-area: more;
    border: 1px solid #ddd;
    text-align: center; 
    margin-top: 1.3em;
    padding: .9em 0;
    color: #aa0e1c;
    border-radius: 8px;
    font-weight: 500;
}

.gridContainer {
  display: grid;
  grid-template-areas: 
  'menu menu main main main main'
  'more more more more more more';  
}

.shadow{
    box-shadow: rgba(12, 11, 11, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.heart{
    position: absolute;
    top: 3%;
    left: 3%;
    display: inline-block;
    color: #42D2CF;
}
